<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>rdbcache security signup</title>
    <div th:replace="fragments/head :: head"/>
</head>
<body>

<div th:replace="fragments/navbar :: navbar('login')"/>

<div class="container">

    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <form th:action="@{/signup}" method="post" th:object="${signupInfo}" enctype="utf8">
                <h2>Please Sign Up</h2>
                <div class="row form-group">
                    <div class="col">
                        <input type="text" th:field="*{firstName}" class="form-control" placeholder="First name" required autofocus/>
                        <div th:each="error: ${#fields.errors('firstName')}" class="invalid-feedback"
                           th:text="${error}">Validation error</div>
                    </div>
                    <div class="col">
                        <input type="text" th:field="*{lastName}" class="form-control" placeholder="Last name" required/>
                        <div th:each="error: ${#fields.errors('lastName')}" class="invalid-feedback"
                           th:text="${error}">Validation error</div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col">
                        <input type="email" th:field="*{email}" class="form-control" placeholder="Email" required/>
                        <div th:each="error : ${#fields.errors('email')}" class="invalid-feedback"
                             th:text="${error}">Validation error</div>
                    </div>
                    <div class="col">
                        <input type="text" th:field="*{phoneNumber}" class="form-control" placeholder="Phone number (optional)"/>
                        <div th:each="error: ${#fields.errors('phoneNumber')}" class="invalid-feedback"
                             th:text="${error}">Validation error</div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col">
                        <input type="password" th:field="*{password}" class="form-control" placeholder="Password" required/>
                        <div th:each="error : ${#fields.errors('password')}" class="invalid-feedback"
                           th:text="${error}">Validation error</div>
                    </div>
                    <div class="col">
                        <input type="password" th:field="*{confirmPassword}" class="form-control" placeholder="Confirm password" required/>
                        <div th:each="error : ${#fields.errors('confirmPassword')}" class="invalid-feedback"
                           th:text="${error}">Validation error</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="roles">Select one or more roles:</label>
                    <select id="roles" th:field="*{roles}" class="custom-select" size="3" multiple="multiple" required>
                        <option th:each="entry : ${mapRoles}"
                                th:value="${entry.key}" th:utext="${entry.value}"/>
                    </select>
                    <div th:each="error: ${#fields.errors('roles')}" class="invalid-feedback"
                         th:text="${error}">Validation error</div>
                </div>
                <div class="form-group">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <input type="submit" class="btn btn-primary btn-block" value="submit"/>
                    </div>
                </div>
                <p class="mt-5 mb-3 text-muted">rdbcache security signup page</p>
            </form>
        </div>
    </div>

</div>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>