<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>rdbcache security user</title>
    <div th:replace="fragments/head :: head"/>
</head>
<body>

<div th:replace="fragments/navbar :: navbar('user')"/>

<div class="container">

    <div class="row">
        <div class="starter-template">
            <h2>User page (Spring Security protected)</h2>

            <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="logout"/>
            </form>
        </div>
    </div>

</div>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>